.card{
    border: 0px;
    background-color: white;
}
.card-title{
    background-color: #6b17d5; color:white; font-size: 25px; padding: 10px; text-align: center; font-weight: bold;
}
body{
    overflow-x: hidden;
    background-image: url("./images/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
    overflow-y: hidden;
}